{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
<link rel="stylesheet" href="/assets/css/article.css">
{% endblock %}

{% block content %}


	<div class="container  mx-auto row">
		<div class = "articleHeader pt-4 col-12">
			<a href="/home/categorieVu/{{article.categoryId}}">{{article.catName}}</a>
			<h3 class="articleTitle">{{article.title}}</h3>
			<p class ="details"> Par {{article.firstname|capitalize}} {{article.lastname|capitalize}} Publié le {{article.articleDate|date("d/m/Y")}}</p>
		</div>

		<article class="col-md-9">
			{% if article.imageName != "" %}
				<p class="text-center">
					<img src="/{{article.imageName}}" class="img-fluid imgarticle">
				</p>
			{% else %}

			{% endif %}

			<div class="text-justify">
			{{article.content|raw}}
			</div>
			<div id="disqus_thread"></div>
		</article>

		{# Block Aside info en continu #}
		<div class="col-md-3 flex-column d-flex align-items-stretch">
			{% for i in 1..9  %}
				{% include 'Home/asidelist.html.twig' %}
				<br>
			{% endfor %}

			<div class="plus unique-color  h-100 mb-3">
			<a href="" class="text-white"><span>Voir plus</span></a>				
			</div>
		</div>

	</div> {# fin du container #}


{% endblock %}

{% block javascript %}
<script>


var disqus_config = function () {
	this.page.url = 'http://localhost:8000/home/article/ {{ article.id }}';  
	this.page.identifier = {{ article.id }}; 
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://wildpost-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
{% endblock %}