<a href="/home/article/{{article.id}}" class="d-flex artLink">
  <div class="card d-flex flex-md-row my-2">
    <img src="/{{article.imageName}}" class="card-img-top w-25 d-md-block d-none" alt="...">
    <div class="card-body p-0 d-flex flex-column justify-content-between">
      <h5 class="card-title  mb-0 p-2 ">{{article.title}}</h5>
    <div class="card-footer text-muted py-1 "> Par {{article.firstname|capitalize}} {{article.lastname|capitalize}}, publié le {{article.articleDate|date("d M")}}, <span class="disqus-comment-count" data-disqus-identifier="{{ article.id }}"> 0 commentaire</span></div>
    </div>
  </div>
</a>