{% extends 'adminLayout.html.twig' %}
{% block javascript %}
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=w5r8f7bjk1wzj1l99fkqvxpv74xcpg35e0wqwzj2fu99magk"></script>
    <script>  tinymce.init({entity_encoding : "raw",
														encoding: "UTF-8",
    												selector: '#content',
    												resize: true,
    												plugins: "link",
    												plugins: "autoresize"}); </script>
{% endblock %}
{% block content %}
<div class="container">
	<h2 class="mt-2">{{title2}}</h2>
	<a href="/adminArticle/index"> Retour à la liste des articles</a>


	<form action="" method="POST" class="mt-4" enctype="multipart/form-data">
		<input id="id" name="id" type="hidden" value="{{values.id}}">
		<input id="imageName" name="imageName" type="hidden" value="{{ values.imageName }}">

		<div class="row">
			<div class="col-md-6"> 
		    <div class="form-group row"> <!-- articleDate  -->
		      <label for="articleDate" class="col-4 text-right my-auto">Date</label>
		      <input type="date" class="form-control col-8 {{isValid.articleDate}}" name="articleDate" id="articleDate" value="{{ values.articleDate }}" required>
		      <div class="invalid-feedback">{{ errors.articleDate }}</div>
		    </div>
				<div class="form-group row"> <!-- auteur  -->
					<label for="authorId" class="col-4 text-right my-auto">Auteur</label>
					<select name="authorId" id="authorId" class="custom-select col-8 {{isValid.authorId}}" required>
						{% for author in authors %}
							<option value="{{author.id}}" {% if author.id == values.authorId %} selected {% endif %}>{{author.firstname}} {{author.lastname}}</option>
						{% endfor %}
					</select>
					<div class="invalid-feedback">{{ errors.authorId }}</div>
				</div>
				<div class="form-group row"> <!-- categorie  -->
					<label for="categoryId" class="col-4 text-right my-auto">Categorie</label>
					<select name="categoryId" id="categoryId" class="custom-select col-8 {{isValid.categoryId}}" required>
						{% for category in categories %}
							<option value="{{category.id}}" {% if category.id == values.categoryId %} selected {% endif %}>{{category.name}}</option>
						{% endfor %}
					</select>
					<div class="invalid-feedback">{{ errors.categoryId }}</div>
				</div>
			</div>
			<div class="col-md-6">
		    <div class="custom-file"> <!-- image  -->
					<input type="file" class="custom-file-input {{isValid.upFile}}" name="fileU" id="fileU">
					<label class="custom-file-label col-12	" for="fileU">Upload image</label>
					<div class="invalid-feedback">{{ errors.upFile }}</div>
				</div>
				<div class="p-2">
					{% if values.imageName is defined %}
						<img src="/{{ values.imageName }}" class= "img-fluid">
					{% endif %}
				</div>
			</div>
		</div>
			
    <div class="form-group row mr-0"> <!--  title -->
      <label for="title" class="col-2 text-right my-auto">Titre</label> 
      <input type="text" class="form-control col-10 {{isValid.title}}" name="title" id="title" value="{{ values.title }}"required>
      <div class="invalid-feedback">{{ errors.title }}</div>
    </div>
  	<div class="form-group row mr-0"><!-- tags en attendant de les gérer dans  le texte  -->
  		<label for="tag" class="col-2 text-right my-auto">Tags</label>
  		<input type="text" class="form-control col-10 {{isValid.tag}}" name="tag" id="tag" value="{{ values.tag }}" >
  		<div class="invalid-feedback text-center">{{ errors.tag }}</div>
  	</div>				

		<div class="form-group"><!-- tiny MCE  -->
	    	<textarea class="form-control {{isValid.content}}" id="content" name="content" placeholder="article description">{{ values.content }}</textarea>
	    	<div class="invalid-feedback">{{ errors.content }}</div>
	  </div>
		<div class="form-row ">
			<div class="col-2"></div>
    		<div class="form-check col-4"><!-- top article  -->
	        <input class="form-check-input " type="checkbox"  {% if values.topArt == true %} checked="checked" {% endif %} name="topArt" id="topArt">
	        <label class="form-check-label" for="topArt">Top article</label>
    		</div>
    		<div class="form-check col-4"><!-- Publié  -->
	        <input class="form-check-input" type="checkbox"  {% if values.published == true %} checked="checked" {% endif %} name="published" id="published">
	        <label class="form-check-label" for="published">Publié</label>
    		</div>
    </div>
		<div class="row justify-content-center">
			<button type="submit" class="btn btn-dark btn-sm">Enregistrer</button>
  	</div>		
	</form>
</div>
{% endblock %}