{% extends 'adminLayout.html.twig' %}

{% block content %}
	<h2>Liste des articles</h2>
  
	<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Auteur</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Article</th>
    </tr>
  </thead>
  <tbody>
  	{% for article in articles %}
      <tr>
        <th scope="row"><a href="update/{{article.id}}"><i class="fas fa-edit"></i></a> 
            <a href="show/{{article.id}}"><i class="fas fa-eye"></i>  </a> 
            <a href="delete/{{article.id}}"><i class="fas fa-trash-alt"></i></a>
          </th>
        <td>{{article.author}}</td>
        <td>{{article.category}}</td>
        <td>{{article.content|striptags|slice(0,50)}}</td>
        <td></td>
      </tr>
    {% endfor %}

  </tbody>
</table>
	
<a href="add"><button class="btn btn-dark">Nouvel article</button></a>
{% endblock %}