{% extends 'adminLayout.html.twig' %}
{% block javascript %}
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=w5r8f7bjk1wzj1l99fkqvxpv74xcpg35e0wqwzj2fu99magk"></script>
    <script>  tinymce.init({selector: '#validationTextarea',}); </script>
{% endblock %}
{% block content %}
<div class="container">
	<form action="" method="POST">
		<div class="row justify-content-center">
			<div class="form-row col-4">
			    <div class="form-group">
			      	<label for="inputText">Name article</label>
			      	<input type="text" class="form-control" name="title" id="title" required>
					<label class="form-check-label">{{ error.title }}</label>
			    </div>
			</div>	
			<div class="form-row col-4">
			    <div class="form-group">
			      <label for="inputText">Date</label>
			      <input type="date" class="form-control" name="date" id="date" required>
			      <label class="form-check-label">{{ error.date }}</label>
			    </div>
			</div>
	  	</div>
		<div class="row justify-content-center">
			<div class="form-row col-4">
			    <div class="form-group">
			      <label for="inputText">Author</label>
			      <input type="text" class="form-control" name="author" id="author" required>
			      <label class="form-check-label">{{ error.author }}</label>
			    </div>
			</div>
			<div class="form-row col-4">
			{# Todo: foreach #}
				<label for="inputText">Category</label>
				<select name="selectCat" id="selectCat" class="custom-select col-11" required>
					 <label class="form-check-label">{{ error.selectCat }}</label> 
					 <option selected="selected">Choose</option>
					 <option value="1">Sport</option>
					 <option value="2">Politique</option>
					 <option value="3">Autres</option>
				</select>
			</div>	   
		</div>
		<div class="row justify-content-center">
			<div class="form-row col-4">
			    <div class="form-group">
			      <label for="inputText">Short text</label>
			      <input type="text" class="form-control" name="shortText" id="shortText" required>
			      <label class="form-check-label">{{ error.shortText }}</label>
			    </div>
			</div>
			<div class="form-row col-4">
		    	<div class="form-group col-5">
		      		<label for="inputText">Tags</label>
		      		<input type="text" class="form-control" name="tag" id="tag" required>
		      		<label class="form-check-label">{{ error.tag }}</label>
		    	</div>				
	    	</div>			
		</div>	
		<div class="row justify-content-center">
			<div class="col-8">
			    <label for="validationTextarea">Long text</label>
			    <textarea class="form-control" id="validationTextarea" placeholder="article description"></textarea>
			</div>    
		</div>			
		<div class="row justify-content-center">
		    <div class="custom-file col-4">
				<input type="file" class="custom-file-input" name="upload" id="upload">
				<label class="custom-file-label col-6" for="customFile">Upload image</label>
				<label class="form-check-label">{{ error.upload }}</label>
			</div>
			<div class="form-group col-4">
	    		<div class="form-check">
			        <input class="form-check-input" type="checkbox" value="" name="topArt" id="topArt">
			        <label class="form-check-label" for="invalidCheck2">Top article</label>
	    		</div>
	  		</div>
		</div>	
		<div class="row justify-content-center">
				<button type="submit" class="btn btn-primary btn-sm">Submit</button>
	  	</div>		
	</form>
</div>
{% endblock %}