{% extends 'adminLayout.html.twig' %}

{% block content %}
<div class="container">
	<h2 class="mt-2">{{ title2 }}</h2>
	<a href="/adminArticle/index"> Retour à la liste des articles</a>
  <form action="/adminLive/{{method}}" method="POST" class="" >
  	<table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col" style="width:60%">Contenu</th>
        <th scope="col" style="width:30%">Date</th>
        <th scope="col"style="width:10%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="">
        	<input id="id" name="id" type="hidden" value="{{values.id}}">
        	<textarea class="form-control {{isValid.content}}" id="content" name="content" placeholder="140 caracteres maxi" required="">{{ values.content }}</textarea>
        </td>
        <td class=>
          <input type="" name="articleDate" value="{{ dateHeure.date|date("Y-m-d G:i:s") }}"> 
  		  </td>
        <td class="">
        	<button type="submit" class="btn btn-dark btn-sm  ">{{ buttonName }}</button>
        </td>
      </tr>
{% for live in liveAll %}
      <tr>
        <td>{{ live.content }}</td>
        <td>{{ live.articleDate }}</td>
        <td scope="row">
          <a href="/adminLive/edit/{{live.id}}"><i class="fas fa-edit"></i></a> 
          <a href="/adminLive/delete/{{live.id}}"><i class="fas fa-trash-alt"></i></a> 
        </td>
      </tr>
{% endfor %}
    </tbody>
    </table>
  </form>
</div>
{% endblock %}